body{
background:linear-gradient(skyblue,lightgreen);
background-repeat:no-repeat;
background-attachment:fixed;

}
h1{
background-color:yellow;
font-size:26px;

}
.p1{
color:pink;
}
.p2{
color:rgb(255, 140, 0);
}
#box1{
    border:5px solid;
    width:250px;
    height:250px;
    font-size:22px;
    background:greenyellow;
    padding:50px;
    

}
#box2{ border:6px solid;
    width:500px;
    height:500px;
    font-size:20px;
    background:dodgerblue;

}